@import url('https://fonts.googleapis.com/css2?family=Basic&family=Outfit:wght@100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: #dce3bc;
    background: linear-gradient(0deg, rgba(220, 227, 188, 1) 0%, rgba(237, 251, 255, 1) 100%);
    font-family: "Outfit", sans-serif;
    font-size: 20px;
    color: #000b49;
}

h1 {
    font-size: 50px;
}

.card {
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

img {
    max-width: 400px;
    padding: 10px;
    animation: spin 20s linear infinite;
    transform-origin: center;
}

.row {
    display: flex;
    gap: 15px;
}

a {
    color: #000b49;
}

i {
    font-size: 30px;
    padding-top: 60px;
    transition: all 0.3s ease;
}

i:hover {
    cursor: pointer;
    transform: translate(0, -3px);
    color: #E87A20;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}